*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img{max-width: 100%;}
ul{list-style: none;}
a{text-decoration: none;}
h2{font-size: 1.2em color: #333;}
p{font-size: 1em; color: #777;}

.cabecalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #0497da;
    
}

.logo a{
    width: 271px; 
    height: 76px; 
    float: left;
    background: url(../imagens/logo.png)no-repeat;
    font-size: 0;
}

.cabecalho form{
    width: 30%;
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
}

.cabecalho button{
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #182e51;
    color: #fff;
    cursor: pointer;
}

.menu{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}

.menu li{
    float: left;
}

.menu li a{
    color: #9d9d9d; 
    margin-right: 25px;
}

.menu li a:hover{
    color: #fff;
}